<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Plan</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'trips/css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'trips/css/grids-responsive-min.css' %}">
    <link rel="stylesheet" href="{% static 'trips/css/mystyles.css' %}">
  </head>
  <body>
    <div class="header">
      <a href="{% url 'trips:home' %}">Home</a> <a href="{% url 'login:logout' %}">Logout</a>
    </div>
    <h2>Add a Trip</h2>
    <form class="pure-form pure-form-aligned" action="{% url 'trips:add_trip' %}" method="post">
      {% csrf_token%}
      <fieldset>
            <div class="pure-control-group">
                <label for="destination">Destination</label>
                <input id="destination" name="destination" type="text" placeholder="">
            </div>

            {% for message in messages %}
              {% if message.extra_tags == 'destination' %}
              <p class="{{ message.tags }}">{{ message }}</p>
              {% endif %}
            {% endfor %}

            <div class="pure-control-group">
                <label for="plan">Description</label>
                <input id="plan" name="plan" type="text" placeholder="">
            </div>

            {% for message in messages %}
              {% if message.extra_tags == 'plan' %}
              <p class="{{ message.tags }}">{{ message }}</p>
              {% endif %}
            {% endfor %}

            <div class="pure-control-group">
              <label for="start_date">Travel Date From</label>
              <input id="start_date" name="start_date" type="date" placeholder="">
            </div>

            {% for message in messages %}
              {% if message.extra_tags == 'start_date' %}
              <p class="{{ message.tags }}">{{ message }}</p>
              {% endif %}
            {% endfor %}

            <div class="pure-control-group">
                <label for="end_date">Travel Date To</label>
                <input id="end_date" name="end_date" type="date" placeholder="">
            </div>

            {% for message in messages %}
              {% if message.extra_tags == 'end_date' %}
              <p class="{{ message.tags }}">{{ message }}</p>
              {% endif %}
            {% endfor %}

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Add</button>
            </div>
      </fieldset>
    </form>
  </body>
</html>
